<div ng-controller="stockinfoController">
    <div class="col-md-8">
        <div class="input-group  input-group-sm">
            <input type="text" class="form-control" name="watchlistsearch" (keydown)="keypress($event)" style="min-width:200px;" [(ngModel)]="symbol" placeholder="Instrument code or name" />
              <span class="input-group-btn">
                <button class="btn btn-default" [disabled]="symbol === null || symbol === ''" type="button" (click)="searchInstrument()">
                  <span class="glyphicon glyphicon-search"></span>
                </button>
              </span>
        </div>
        <div id="stock-info-table" class="table-responsive ">
            <table class="table table-condensed">
                <tbody>
                    <tr>
                        <!--<td class="hidden-xs">Symbol</td>-->
                        <td colspan="4" data-title="Symbol" style="padding-right:10px;">
                            <strong> {{stockInfo.symbol}} &nbsp;-&nbsp; {{stockInfo.Name}} </strong>
                        </td>
                        <!--<td class="hidden-xs">Name</td>
                        <td data-title="Name" class="numeric">&nbsp;</td>-->
                    </tr>
                    <tr>
                        <td class="hidden-xs">Change</td>
                        <td data-title="Change" class="numeric text- stockInfo.chgColour " [class.warning]="stockInfo.chgColour === 'warning'" [class.danger]="stockInfo.chgColour === 'danger'" [class.success]="stockInfo.chgColour === 'success'" style="padding-right: 10px;"> {{stockInfo.CHG}} &nbsp;</td>
                        <td class="hidden-xs">Change %</td>
                        <td data-title="Change %" class="numeric text- stockInfo.chgColour " [class.warning]="stockInfo.chgColour === 'warning'" [class.danger]="stockInfo.chgColour === 'danger'" [class.success]="stockInfo.chgColour === 'success'"><span ng-hide="stockInfo.ChgP === null || stockInfo.ChgP === ''"> {{stockInfo.CHGP | number:'1.2-2'}} </span>&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="hidden-xs">Low</td>
                        <td data-title="Low" class="numeric" style="padding-right: 10px;"> {{stockInfo.L}} &nbsp;</td>
                        <td class="hidden-xs">High</td>
                        <td data-title="High" class="numeric"> {{stockInfo.H}} &nbsp;</td>
                    </tr>
                    <tr>
                        <td class="hidden-xs">No. of Trades</td>
                        <td data-title="No. of Trades" class="numeric" style="padding-right: 10px;"> {{stockInfo.NTRD}} &nbsp;</td>
                        <td class="hidden-xs">Prev. Close</td>
                        <td data-title="Prev. Close" class="numeric"> {{stockInfo.CLS}} &nbsp;</td>
                    </tr>
                    <tr>
                        <td class="hidden-xs">Trade Volume</td>
                        <td data-title="Trade. Volume" class="numeric" style="padding-right: 10px;"> {{stockInfo.TVOL}} &nbsp;</td>
                        <td class="hidden-xs">Trade Value</td>
                        <td data-title="Trade. Value" class="numeric"> {{stockInfo.TVAL }} &nbsp;</td>
                    </tr>
                    <tr>
                        <td class="hidden-xs">Trading Status</td>
                        <td data-title="Trading Status" colspan="3" class="numeric"> {{stockInfo.ST}} &nbsp;</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-4">
        <table class="table table-condensed table-small">
            <thead>
                <tr>
                    <th class="numeric" style="height: 21px;">Bid Vol</th>
                    <th class="numeric">Bid Price</th>
                    <th class="numeric">Ask Price</th>
                    <th class="numeric">Ask Vol</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="numeric" style="height: 21px;"> {{stockInfo.BS1}} </td>
                    <td class="numeric"> {{stockInfo.BP1}} </td>
                    <td class="numeric"> {{stockInfo.AP1}} </td>
                    <td class="numeric"> {{stockInfo.AS1}} </td>
                </tr>
                <tr>
                    <td class="numeric" style="height: 21px;"> {{stockInfo.BS2}} </td>
                    <td class="numeric"> {{stockInfo.BP2}} </td>
                    <td class="numeric"> {{stockInfo.AP2}} </td>
                    <td class="numeric"> {{stockInfo.AS2}} </td>
                </tr>
                <tr>
                    <td class="numeric" style="height: 21px;"> {{stockInfo.BS3}} </td>
                    <td class="numeric"> {{stockInfo.BP3}} </td>
                    <td class="numeric"> {{stockInfo.AP3}} </td>
                    <td class="numeric"> {{stockInfo.AS3}} </td>
                </tr>
            </tbody>
        </table>
        <table class="table table-condensed table-small">
            <thead>
                <tr>
                    <th class="numeric">Trade Price</th>
                    <th class="numeric">Trade Size</th>
                    <th style="text-align:center;">Trade Time</th>
                    <th class="numeric">Change</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td [class.warning]="stockInfo.chgColour === 'warning'" [class.danger]="stockInfo.chgColour === 'danger'" [class.success]="stockInfo.chgColour === 'success'" class="numeric" style="height:21px;"> {{stockInfo.LTP1}} </td>
                    <td [class.warning]="stockInfo.chgColour === 'warning'" [class.danger]="stockInfo.chgColour === 'danger'" [class.success]="stockInfo.chgColour === 'success'" class="numeric"> {{stockInfo.LTS1}}</td>
                    <td [class.warning]="stockInfo.chgColour === 'warning'" [class.danger]="stockInfo.chgColour === 'danger'" [class.success]="stockInfo.chgColour === 'success'" style="text-align:center;"> {{stockInfo.LTT1}} </td>
                    <td [class.warning]="stockInfo.chgColour === 'warning'" [class.danger]="stockInfo.chgColour === 'danger'" [class.success]="stockInfo.chgColour === 'success'" class="numeric" ng-class="getColour(stockInfo.Chg1,true)">
                        <span ng-show="showChange(stockInfo.LTP1)">
                             {{stockInfo.CHG1}} 
                        </span>
                    </td>
                </tr>
                <tr>
                    <td [class.warning]="stockInfo.chgColour === 'warning'" [class.danger]="stockInfo.chgColour === 'danger'" [class.success]="stockInfo.chgColour === 'success'" class="numeric" style="height: 21px;"> {{stockInfo.LTP2}} </td>
                    <td [class.warning]="stockInfo.chgColour === 'warning'" [class.danger]="stockInfo.chgColour === 'danger'" [class.success]="stockInfo.chgColour === 'success'" class="numeric"> {{stockInfo.LTS2}} </td>
                    <td [class.warning]="stockInfo.chgColour === 'warning'" [class.danger]="stockInfo.chgColour === 'danger'" [class.success]="stockInfo.chgColour === 'success'" style="text-align:center;"> {{stockInfo.LTT2}} </td>
                    <td [class.warning]="stockInfo.chgColour === 'warning'" [class.danger]="stockInfo.chgColour === 'danger'" [class.success]="stockInfo.chgColour === 'success'" class="numeric" ng-class="getColour(stockInfo.Chg2,true)">
                        <span ng-show="showChange(stockInfo.LTP2)">
                             {{stockInfo.CHG2 }}
                        </span>
                    </td>
                </tr>
                <tr>
                    <td [class.warning]="stockInfo.chgColour === 'warning'" [class.danger]="stockInfo.chgColour === 'danger'" [class.success]="stockInfo.chgColour === 'success'" class="numeric" style="height: 21px;"> {{stockInfo.LTP3}} </td>
                    <td [class.warning]="stockInfo.chgColour === 'warning'" [class.danger]="stockInfo.chgColour === 'danger'" [class.success]="stockInfo.chgColour === 'success'" class="numeric"> {{stockInfo.LTS3}} </td>
                    <td [class.warning]="stockInfo.chgColour === 'warning'" [class.danger]="stockInfo.chgColour === 'danger'" [class.success]="stockInfo.chgColour === 'success'" style="text-align:center;"> {{stockInfo.LTT3}} </td>
                    <td [class.warning]="stockInfo.chgColour === 'warning'" [class.danger]="stockInfo.chgColour === 'danger'" [class.success]="stockInfo.chgColour === 'success'" class="numeric" ng-class="getColour(stockInfo.Chg3,true)">
                        <span ng-show="showChange(stockInfo.LTP3)">
                             {{stockInfo.CHG3}} 
                        </span>
                    </td>
                </tr>
                <tr>
                    <td [class.warning]="stockInfo.chgColour === 'warning'" [class.danger]="stockInfo.chgColour === 'danger'" [class.success]="stockInfo.chgColour === 'success'" class="numeric" style="height: 21px;"> {{stockInfo.LTP4}} </td>
                    <td [class.warning]="stockInfo.chgColour === 'warning'" [class.danger]="stockInfo.chgColour === 'danger'" [class.success]="stockInfo.chgColour === 'success'" class="numeric"> {{stockInfo.LTS4}} </td>
                    <td [class.warning]="stockInfo.chgColour === 'warning'" [class.danger]="stockInfo.chgColour === 'danger'" [class.success]="stockInfo.chgColour === 'success'" style="text-align:center;"> {{stockInfo.LTT4}} </td>
                    <td [class.warning]="stockInfo.chgColour === 'warning'" [class.danger]="stockInfo.chgColour === 'danger'" [class.success]="stockInfo.chgColour === 'success'" class="numeric" ng-class="getColour(stockInfo.Chg4,true)">
                        <span ng-show="showChange(stockInfo.LTP4)">
                             {{stockInfo.CHG4}} 
                        </span>
                    </td>
                </tr>
                <tr>
                    <td [class.warning]="stockInfo.chgColour === 'warning'" [class.danger]="stockInfo.chgColour === 'danger'" [class.success]="stockInfo.chgColour === 'success'" class="numeric" style="height: 21px;"> {{stockInfo.LTP5}} </td>
                    <td [class.warning]="stockInfo.chgColour === 'warning'" [class.danger]="stockInfo.chgColour === 'danger'" [class.success]="stockInfo.chgColour === 'success'" class="numeric"> {{stockInfo.LTS5}} </td>
                    <td [class.warning]="stockInfo.chgColour === 'warning'" [class.danger]="stockInfo.chgColour === 'danger'" [class.success]="stockInfo.chgColour === 'success'" style="text-align:center;"> {{stockInfo.LTT5}} </td>
                    <td [class.warning]="stockInfo.chgColour === 'warning'" [class.danger]="stockInfo.chgColour === 'danger'" [class.success]="stockInfo.chgColour === 'success'" class="numeric" ng-class="getColour(stockInfo.Chg5,true)">
                        <span ng-show="showChange(stockInfo.LTP5)">
                             {{stockInfo.CHG5}} 
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>