<form [formGroup]="newWatchlistForm" (ngSubmit)="saveNewWatchlist()">
    <div class="modal-header">
      <button type="button" class="close" (click)="cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h3 class="modal-title">New Watchlist</h3>
    </div>
    <div class="modal-body" stop-event="touchend">
      <span class="label label-danger" *ngIf="newWatchlistForm.controls.watchlistName.errors?.required">
        Required!
      </span>
      <span class="label label-warning" *ngIf="newWatchlistForm.controls.watchlistName.errors?.maxlength">
        Watchlist name cannot exceed 15 characters.
      </span>
      <!-- <span class="label label-warning" *ngIf="isDuplicate">
        Watchlist name already exists.
      </span> -->
      <input type="text" class="form-control" name="watchlistName" formControlName="watchlistName" placeholder="Watchlist name">
      <span class="help-block">Please enter a unique name for your new watchlist below.</span>
    </div>
    <div class="modal-footer">
      <button class="btn btn-sm btn-success" type="submit" [disabled]="newWatchlistForm.controls.watchlistName.errors?.maxlength || newWatchlistForm.controls.watchlistName.errors?.required">Save</button>
      <button class="btn btn-sm btn-danger" (click)="cancel()">Cancel</button>
    </div>
</form>