<div ng-controller="indicesController">
    <form role="form" class="form-inline">
        <div class="form-group">
            <div class="input-group input-group-sm">
                <input type="text" class="form-control" name="watchlistsearch" (keydown)="keypress($event)" style="min-width:200px;" [(ngModel)]="symbol" placeholder="Instrument code or name" />
              <span class="input-group-btn">
                <button class="btn btn-default" [disabled]="symbol === null || symbol === ''" type="button" (click)="searchInstrument()">
                  <span class="glyphicon glyphicon-search"></span>
                </button>
              </span>
            </div>
        </div>
    </form>
    <div class="table-responsive">
        <table class="table table-condensed table-small  table-hover">
            <thead>
                <tr>
                    <th>
                        Index
                    </th>
                    <th class="numeric hidden-xs">
                        Prev Close.
                    </th>
                    <th class="numeric">
                        Value
                    </th>
                    <th class="numeric hidden-xs">
                        Chg
                    </th>
                    <th class="numeric">
                        % Chg
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of indexInstruments">
                    <td><button class="btn btn-danger btn-xs" (click)="removeInstrument(item)"><span class="glyphicon glyphicon-remove"></span></button> <a href="javascript:void(0)" (click)="navstockInfo(item.pesk, item.index, item.name)">{{item.name}}</a></td>
                    <td class="numeric hidden-xs">{{item.value - item.change | number:'1.2-2' }}</td>
                    <td highlight="item.LTP" change-item="item" change-prop="Chg" class="numeric">{{ item.value | number:'1.2-2' }}</td>
                    <td highlight="item.Chg" change-item="item" change-prop="Chg" class="numeric hidden-xs text-item.chgColour">{{ item.change | number:'1.2-2' }}</td>
                    <td highlight="item.Chg" change-item="item" change-prop="Chg" class="numeric text-item.chgColour"><span ng-hide="item.ChgP === null || item.ChgP === ''">{{ item.changePercentage | number:'1.2-2' }}</span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>