<div class="jumbotron">
    <div class="container">
        <div class="page-header text-center">
            <h1>About Us</h1>
        </div>
        <div class="container">
            <iframe width="100%" height="300" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3584.8666141384842!2d28.01732999999999!3d-26.03791999999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1e9573f735ed33b7%3A0xb2889e22713c137f!2sNutcracker+Technologies+(Pty)+Ltd!5e0!3m2!1sen!2sza!4v1429706671739" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe>
            <div class="col-md-6">
                <address>
                    <strong>Nutcracker</strong><br>
                    1st Floor, Highbury House<br>
                    Hampton Office Park<br>
                    20 Georgian Crescent<br>
                    Bryanston<br>
                    2091<br>
                    South Africa<br><br>
                </address>
            </div>
            <div class="col-md-6">
                <address>
                    <abbr title="Phone">P:</abbr> +27 10 593 4688<br>
                </address>
                <address>
                    <strong>General</strong><br>
                    <a href="mailto:contactus@nutcracker.co.za">contactus@nutcracker.co.za</a>
                </address>
                <address>
                    <strong>Helpdesk</strong><br>
                    <a href="mailto:helpdesk@nutcracker.co.za">helpdesk@nutcracker.co.za</a>
                </address>
            </div>
        </div>
    </div>
</div>