<div class="table-responsive">
    <table class="table table-condensed table-small">
        <thead>
            <tr>
                <th>
                    Symbol
                </th>
                <th class="numeric" style="padding-left: 5px;">
                    Close
                </th>
                <th class="numeric" style="padding-left: 5px;">
                    Price
                </th>
                <th class="numeric" style="padding-left: 5px;">
                    Chg
                </th>
                <th class="numeric" style="padding-left: 5px;">
                    % Chg
                </th>
                <th class="numeric" style="padding-left: 5px;">
                    Volume
                </th>
                <th class="numeric" style="padding-left: 5px;">
                    Value
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of marketMovers">
                <td>
                    <a href="javascript:void(0)" (click)="navstockInfo(item.pesk, item.symbol, item.name)">
                        {{item.symbol}}
                    </a>
                </td>
                <td class="numeric">{{item.prevClose | number:'1.2-2'}} </td>
                <td class="numeric">{{item.lastTrade | number:'1.2-2'}} </td>
                <td class="numeric" [class.text-success]="item.change > 0" [class.text-danger]="item.change < 0" [class.text-warning]="item.change === 0">{{ item.change | number: '2.2-2' }}</td>
                <td class="numeric" [class.text-success]="item.change > 0" [class.text-danger]="item.change < 0" [class.text-warning]="item.change === 0">{{ item.changePerc | number: '2.2-2' }}</td>
                <td class="numeric">{{item.volume | number }}</td>
                <td class="numeric">{{item.value | number:'1.2-2'}}</td>
            </tr>
        </tbody>
    </table>
</div>