<div
  style="text-align: right"
  ng-show="global.showPositions && global.showPositionsSummary"
>
  <button class="btn btn-info btn-sm" type="button">
    Exposure (Long)
    <span class="badge"> {{posSumm?.longExposure | number:"1.2-2" }}</span> (Short)
    <span class="badge"> {{posSumm?.shortExposure | number:'1.2-2' }}</span>
  </button>
  <button class="btn btn-default btn-sm" type="button">
    Gearing <span class="badge"> {{posSumm?.gearing.toFixed(2)}} </span>
  </button>
  <button class="btn btn-default btn-sm" type="button">
    Available Cash <span class="badge"> {{posSumm?.availableCash | number:'1.2-2'}} </span>
  </button>
  <button class="btn btn-default btn-sm" type="button">
    Portfolio Value <span class="badge"> {{posSumm?.portfolioValue | number:'1.2-2'}} </span>
  </button>
  <!-- <button
    class="btn btn-primary btn-sm"
    type="button"
    (click)="handleClickCollapse()"
  >
    {{ !isCollapsed ? "Show Details" : "Hide Details"}}
  </button> -->
</div>
