<div ng-controller="watchlistController">
    <form role="form" class="form-inline">
        <div class="form-group">
            <div class="input-group input-group-sm">
                <select class="form-control input-sm" style="min-width:200px;" name="watchlistselect" [(ngModel)]="selWlId" (ngModelChange)="watchlistChanged()" >
                    <option *ngFor="let wl of watchlists" [ngValue]="wl.id">
                      {{ wl.name }}
                    </option>
                </select>
                <span class="input-group-btn input-group-sm">
                    <button class="btn btn-default btn-sm" type="button" (click)="newWatchlist()"><span class="glyphicon glyphicon-plus"></span></button>
                    <button class="btn btn-primary btn-sm" type="button" (click)="deleteWatchlist()"><span class="glyphicon glyphicon-minus" ng-disabled="!dataStore.watchlist"></span></button>
                    <button class="btn btn-primary btn-sm" type="button" (click)="renameWatchlist()"><span class="glyphicon glyphicon-edit" ng-disabled="!dataStore.watchlist"></span></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group input-group-sm">
              <input type="text" class="form-control" name="watchlistsearch" (keydown)="keypress($event)" style="min-width:200px;" [(ngModel)]="symbol" placeholder="Instrument code or name" />
              <span class="input-group-btn">
                <button class="btn btn-default" [disabled]="symbol === null || symbol === ''" type="button" (click)="searchInstrument()">
                  <span class="glyphicon glyphicon-search"></span>
                </button>
              </span>
            </div>
          </div>
        <div class="form-group" ng-if="isRealTimeUser()">
            <div class="input-group input-group-sm">
                <span class="input-group-btn">
                    <button class="btn btn-primary btn-sm" type="button" (click)="toggleDepth()"><span class="glyphicon" [class.glyphicon-minus]="ThreeLineDepth" [class.glyphicon-th-list]="!ThreeLineDepth"></span>  {{ThreeLineDepth ? ' 1 Line Depth' : ' 3 Line Depth'}}</button>
                </span>
            </div>
        </div>
    </form>
    <div class="table-responsive">
        <table class="table table-condensed table-small table-hover">
            <thead>
                <tr>
                    <th>
                        Symbol
                    </th>
                    <!--<th class="hidden-xs hidden-sm">
                        Name
                    </th>-->
                    <th class="numeric hidden-xs">
                        Bid Vol.
                    </th>
                    <th class="numeric">
                        Bid
                    </th>
                    <th class="numeric">
                        Offer
                    </th>
                    <th class="numeric hidden-xs">
                        Offer Vol.
                    </th>
                    <th class="numeric">
                        LTP
                    </th>
                    <th class="numeric hidden-xs hidden-sm hidden-md">
                        LT Vol.
                    </th>
                    <th class="numeric hidden-xs hidden-sm hidden-md">
                        LTT
                    </th>
                    <th class="numeric hidden-xs">
                        Chg
                    </th>
                    <th class="numeric">
                        Chg %
                    </th>
                    <th class="numeric">
                        Close
                    </th>
                    <th class="numeric hidden-xs hidden-sm hidden-md">
                        Low
                    </th>
                    <th class="numeric hidden-xs hidden-sm hidden-md">
                        High
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let inst of instruments">
                    <td style="white-space:nowrap;" [class.warning]="inst.chgColour === 'warning'" [class.danger]="inst.chgColour === 'danger'" [class.success]="inst.chgColour === 'success'">
                        <button class="btn btn-danger btn-xs" [class.warning]="inst.chgColour === 'warning'" [class.danger]="inst.chgColour === 'danger'" [class.success]="inst.chgColour === 'success'" (click)="removeInstrument(inst)">
                            <span class="glyphicon glyphicon-remove" [class.warning]="inst.chgColour === 'warning'" [class.danger]="inst.chgColour === 'danger'" [class.success]="inst.chgColour === 'success'"></span>
                        </button>
                        <a href="javascript:void(0)" (click)="navstockInfo(inst.pesk, inst.symbol, inst.name)">
                            {{inst.symbol}}
                        </a>
                    </td>
                    <td highlight="inst.BS1" change-item="item" change-prop="Chg" class="numeric hidden-xs" [class.warning]="inst.chgColour === 'warning'" [class.danger]="inst.chgColour === 'danger'" [class.success]="inst.chgColour === 'success'">
                        <div>
                            <a href="javascript:void(0)" (click)="newOrder('S',inst.B1,inst.pesk)"> {{inst.BS1}}</a>
                        </div>
                        <div *ngIf="ThreeLineDepth === true">
                            <a href="javascript:void(0)" (click)="newOrder('S',inst.B2,inst.pesk)"> {{inst.BS2}}</a>
                        </div>
                        <div *ngIf="ThreeLineDepth === true">
                            <a href="javascript:void(0)" (click)="newOrder('S',inst.B3,inst.pesk)"> {{inst.BS3}}</a>
                        </div>
                    </td>
                    <td style="vertical-align:top;" class="numeric" highlight="inst.B1" change-item="item" change-prop="Chg" [class.warning]="inst.chgColour === 'warning'" [class.danger]="inst.chgColour === 'danger'" [class.success]="inst.chgColour === 'success'">
                        <div>
                            <a href="javascript:void(0)" (click)="newOrder('S',inst.B1,inst.pesk)"> {{inst.BP1}}</a>
                        </div>
                        <div *ngIf="ThreeLineDepth === true">
                            <a href="javascript:void(0)" (click)="newOrder('S',inst.B2,inst.pesk)"> {{inst.B2}}</a>
                        </div>
                        <div *ngIf="ThreeLineDepth === true">
                            <a href="javascript:void(0)" (click)="newOrder('S',inst.B3,inst.pesk)"> {{inst.B3}}</a>
                        </div>
                    </td>
                    <td highlight="inst.A1" change-item="item" change-prop="Chg" class="numeric" [class.warning]="inst.chgColour === 'warning'" [class.danger]="inst.chgColour === 'danger'" [class.success]="inst.chgColour === 'success'">
                        <div>
                            <a href="javascript:void(0)" (click)="newOrder('B',inst.A1,inst.pesk)"> {{inst.AP1}}</a>
                        </div>
                        <div *ngIf="ThreeLineDepth === true">
                            <a href="javascript:void(0)" (click)="newOrder('B',inst.A2,inst.pesk)"> {{inst.A2}}</a>
                        </div>
                        <div *ngIf="ThreeLineDepth === true">
                            <a href="javascript:void(0)" (click)="newOrder('B',inst.A3,inst.pesk)"> {{inst.A3}}</a>
                        </div>
                    </td>
                    <td highlight="item.AS1" change-item="item" change-prop="Chg" class="numeric hidden-xs" [class.warning]="inst.chgColour === 'warning'" [class.danger]="inst.chgColour === 'danger'" [class.success]="inst.chgColour === 'success'">
                        <div>
                            <a href="javascript:void(0)" (click)="newOrder('B',inst.A1,inst.pesk)"> {{inst.AS1}}</a>
                        </div>
                        <div *ngIf="ThreeLineDepth === true">
                            <a href="javascript:void(0)" (click)="newOrder('B',inst.A2,inst.pesk)"> {{inst.AS2}}</a>
                        </div>
                        <div *ngIf="ThreeLineDepth === true">
                            <a href="javascript:void(0)" (click)="newOrder('B',inst.A3,inst.pesk)"> {{inst.AS3}}</a>
                        </div>
                    </td>
                    <td highlight="inst.LTP" change-item="item" change-prop="Chg" class="numeric" [class.warning]="inst.chgColour === 'warning'" [class.danger]="inst.chgColour === 'danger'" [class.success]="inst.chgColour === 'success'"><a href="javascript:void(0)" (click)="newOrder('',inst.LTP,inst.pesk)"> {{inst.LTP}}</a></td>
                    <td highlight="inst.LTS" change-item="item" change-prop="Chg" class="numeric hidden-xs hidden-sm hidden-md" [class.warning]="inst.chgColour === 'warning'" [class.danger]="inst.chgColour === 'danger'" [class.success]="inst.chgColour === 'success'">{{inst.LTS}}</td>
                    <td highlight="inst.LTT" change-item="item" change-prop="Chg" class="numeric hidden-xs hidden-sm hidden-md" [class.warning]="inst.chgColour === 'warning'" [class.danger]="inst.chgColour === 'danger'" [class.success]="inst.chgColour === 'success'">{{inst.LTT}}</td>
                    <td highlight="inst.Chg" change-item="item" change-prop="Chg" class="numeric hidden-xs text-inst.chgColour" [class.warning]="inst.chgColour === 'warning'" [class.danger]="inst.chgColour === 'danger'" [class.success]="inst.chgColour === 'success'">{{inst.CHG}}</td>
                    <td highlight="inst.ChgP" change-item="item" change-prop="Chg" class="numeric text-inst.chgColour" [class.warning]="inst.chgColour === 'warning'" [class.danger]="inst.chgColour === 'danger'" [class.success]="inst.chgColour === 'success'"><span ng-hide="inst.ChgP === null || inst.ChgP === ''">{{inst.CHGP}}</span></td>
                    <td highlight="inst.Cls" change-item="item" change-prop="Chg" class="numeric" [class.warning]="inst.chgColour === 'warning'" [class.danger]="inst.chgColour === 'danger'" [class.success]="inst.chgColour === 'success'">
                        <a href="javascript:void(0)" (click)="newOrder('',inst.Cls,inst.pesk)"> {{inst.CLS}}</a>
                    </td>
                    <td highlight="inst.L" change-item="item" change-prop="Chg" class="numeric hidden-xs hidden-sm hidden-md" [class.warning]="inst.chgColour === 'warning'" [class.danger]="inst.chgColour === 'danger'" [class.success]="inst.chgColour === 'success'">{{inst.L}}</td>
                    <td highlight="inst.H" change-item="item" change-prop="Chg" class="numeric hidden-xs hidden-sm hidden-md" [class.warning]="inst.chgColour === 'warning'" [class.danger]="inst.chgColour === 'danger'" [class.success]="inst.chgColour === 'success'">{{inst.H}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<ng-template #myModalContent>
  <div class="modal-header">
    <h4 class="modal-title">Modal Title</h4>
  </div>
  <div class="modal-body">
    Modal Content
  </div>
  <div class="modal-footer">
    <button class="btn btn-secondary" (click)="dismissAll()">Close</button>
  </div>
</ng-template>