<div class="col-sm-12">
    <div class="table-responsive">
        <table class="table table-condensed table-striped table-small table-hover">
            <thead>
                <tr>
                    <th colspan="7">
                        <div style="float:right;">
                            <small>Last Updated: {{updateDate | date : 'yyyy-MM-dd HH:mm:ss'}}</small>
                        </div>
                    </th>
                </tr>
                <tr>
                    <th>
                        Account
                    </th>
                    <th>
                        Exchange
                    </th>
                    <th>
                        Symbol
                    </th>
                    <th>
                        Side
                    </th>
                    <th class="numeric">
                        Trade Price
                    </th>
                    <th class="numeric">
                        Trade Qty
                    </th>
                    <th style="text-align: center;">
                        Trade Date & Time
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngIf="isLoading">
                    <td ng-show="loadingInstruments"><i class="glyphicon glyphicon-repeat gly-spin"></i>&nbsp;Loading...</td>
                </tr>
                <tr *ngFor="let item of tradesbook"> <!--  | orderBy:'timestamp':true -->
                    <td>{{item.accountNo}}</td>
                    <td>{{item.exchange}}</td>
                    <td>{{item.symbol}}</td>
                    <td>{{convertSide(item.side)}}</td> <!-- convertSide(item.side) -->
                    <td class="numeric">{{item.tradePrice | number}}</td>
                    <td class="numeric">{{item.tradeQuantity}}</td>
                    <td style="text-align: center;">{{item.tradeDateTime | date : 'yyyy-MM-dd HH:mm:ss'}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>