<div class="col-sm-12">
    <div class="table-responsive">
        <table class="table table-condensed table-striped table-small table-hover">
            <thead>
                <tr>
                    <th colspan="12">
                        <div class="pull-left">
                            <button class="btn btn-info btn-xs" type="button" (click)="handleOpenOrdersOnly()">
                                Show only open orders <span class="badge"> {{openOrdersOnly === true ? "Yes" : "No"}} </span>
                            </button>
                        </div>
                        <div class="pull-right">
                            <small>Last Updated: {{updateDate | date : 'yyyy-MM-dd HH:mm:ss'}}</small>
                        </div>
                    </th>
                </tr>
                <tr>
                    <th>
                        Account
                    </th>
                    <th>
                        Exchange
                    </th>
                    <th>
                        Symbol
                    </th>
                    <th>
                        Side
                    </th>
                    <th class="numeric">
                        Price
                    </th>
                    <th class="numeric">
                        Traded Qty
                    </th>
                    <th class="numeric">
                        VWAP
                    </th>
                    <th style="text-align:center;">
                        Life Time
                    </th>
                    <th style="text-align: center;">
                        Type
                    </th>
                    <th style="text-align: center;">
                        Timestamp
                    </th>
                    <th style="text-align: center;">
                        Order Status
                    </th>
                    <th style="text-align: center;">
                        Inst. Status
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngIf="isLoading">
                    <td ng-show="loadingInstruments"><i class="glyphicon glyphicon-repeat gly-spin"></i>&nbsp;Loading...</td>
                </tr>
                <tr *ngFor="let item of orderbook">
                    <td>
                        <button class=" btn btn-danger btn-xs" (click)="cancelOrder(item)" ng-show=" global.isTrader && (item.remainingQuantity !== 0) || (item.instructionStatus.indexOf('AA:') === 0) || (item.instructionStatus.indexOf('PEX:') === 0) || (item.instructionStatus.indexOf('P:') === 0) " tooltip-placement="right" tooltip-html-unsafe='Click to cancel order. item.side item.orderQuantity item.symbol  @ item.price'>
                            <span class="glyphicon glyphicon-remove"></span>
                        </button> {{item.accountNo}}
                    </td>
                    <td>{{item.exchange}}</td>
                    <td>{{item.symbol}}</td>
                    <td>{{convertSide(item.side)}}</td>
                    <td class="numeric">{{item.orderPrice}}</td>
                    <td class="numeric">{{item.tradedQuantity / item.orderQuantity}}</td>
                    <td class="numeric"> {{item.vwap | number}}</td>
                    <td style="text-align: center;">{{convertLifeTime(item.timeInForce)}}</td>
                    <td style="text-align: center;">{{convertType(item.orderType)}}</td>
                    <td style="text-align: center;">{{item.lastUpdateTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                    <td style="text-align: center;" ng-class="getOrderStatusClass(item.orderStatus)">{{item.orderStatus}}</td>
                    <td style="text-align: center;" ng-class="getInstructionStatusClass(item.instructionStatus)" tooltip-placement="left" tooltip-html-unsafe=' item.handledBy  item.rejectReason '> {{item.tesk}}</td> <!-- {{item.instructionStatus}} -->
                </tr>
            </tbody>
        </table>
    </div>
</div>